body { 
	background-image: url('../images/dirt.png'); 
	background-size : 50px 50px; 
	padding : 0; 
	margin : 0;
	display : flex;
	flex-direction : column;
	min-width : 900px;
}

#banner{
	flex-grow:1;
	background-color : rgb(52,73,94);
	height : 80px;
}

#flag{
	text-align : right;
	display : inline-block;
	float : right;
	margin-right : 10px;
	margin-top : -60px;
}

#clearer{
	clear : both;
}

header{
	text-align : left;
	padding-left: 15px;
	color : rgb(1,216,174);
	padding-bottom : 10px;
}
header h1{
	font-size : 300%;
	font-family : Serif;
	margin : 0px;
	margin-top : 10px;
	background-size : auto 100%;
}

#nav{
	background-color : rgb(68,108,180);
	display : flex;
	justify-content : center;
}

nav{
	margin : 0;
	display : flex;
	//justify-content : space-between;
	margin-left : 15px;
	flex-grow:1;
	min-width : 900px;
}
nav a{
	padding : 5px;
	padding-left : 20px;
	padding-right : 20px;
	border-width : 0;
    border-left: solid 1px silver;
	margin-top : 20px;
	font-family : sans-serif;
	font-size : 110%;
	text-decoration : none;
	text-align : center;
	color : white;
	display : inline-block;
}

nav a:last-child{
    border-right: solid 1px silver;
}
nav .current{
	color : rgb(101,137,63);
}
nav a:not(.current):hover{
	background-color : rgb(52,73,94);
}

#main{
	padding-top : 25px;
	padding-bottom : 25px;
	text-align : center;
	background-color : rgb(222,226,235);
	display : flex;
	justify-content : center;
}

#mainContent{
	background-color : white;
	margin-left : 15px;
	margin-right : 15px;
	flex-grow:1;
	min-width : 900px;
	border-radius : 6px;
	display : flex;
	flex-direction : column;
}

#mainContent h2{
	font-size : 42px;
	text-align : center;
	padding : 0;
	margin : 0;
	margin-top : 10px;
}

form{
	margin-top : 15px;
	margin-bottom : 25px;
	display : flex;
	justify-content : center;
}

fieldset{
	width : 900px;
	margin-right : 15px;
	margin-left : 15px;
	padding : 0;
	padding-left : 10px;
	padding-right : 10px;
	text-align : left;
	padding-bottom : 10px;
	font-size : 20px;
	background-color : rgb(245,245,245);
}

#formContent{
	display : flex;
	//background-color : rgb(200,173,127);
	background-color :rgb(150,150,150);
	padding : 5px;
}

label{
	width : 150px;
}

input{
	flex-grow:1;
	font-size : 16px;
}

select{
	flex-grow:1;
	font-size : 16px;
}

#radiobutton{
	display : block;
}

button{
	float : right;
	font-size : 20px;
}

footer{
	border-bottom-right-radius : 10px;
	border-bottom-left-radius : 10px;
	font-size : 85%;
	background-color : rgb(150,150,150);
	padding : 5px;
	text-align : center;
	
}
footer, footer a, footer a:visited{
	color :  black;
}
footer p{
	margin : 0px;
	margin-top : 15px;
	margin-bottom : 15px;
	font-size : 20px;
}